@page
@model AddActivityModel
@{

}

<form method="post">
    <br/>
    <div>
        <label asp-for="todo.Name"></label>
        <input asp-for="todo.Name" />
    </div>
    <div>
        <input type="submit" value="Add Activity"/>
    </div>

 </form>